{
    "swagger": "2.0",
    "info": {
        "description": "Alert operation endpoints and objects.",
        "title": "InfrastructureInsightsManagementClient",
        "version": "2016-05-01"
    },
    "host": "adminmanagement.local.azurestack.external",
    "schemes": [
        "https"
    ],
    "paths": {
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/{region}/alerts": {
            "get": {
                "x-ms-examples": {
                    "Returns the list of all alerts in a given region.": {
                        "$ref": "./examples/Alert/List.json"
                    }
                },
                "tags": [
                    "Alerts"
                ],
                "description": "Returns the list of all alerts in a given region.",
                "operationId": "Alerts_List",
                "parameters": [
                    {
                        "$ref": "InfrastructureInsights.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "InfrastructureInsights.json#/parameters/ResourceGroupParameter"
                    },
                    {
                        "$ref": "InfrastructureInsights.json#/parameters/RegionParameter"
                    },
                    {
                        "$ref": "InfrastructureInsights.json#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "InfrastructureInsights.json#/parameters/FilterParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/AlertList"
                        }
                    },
                    "404": {
                        "description": "NOT FOUND"
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                },
                "x-ms-odata": "#/definitions/Alert",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ]
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/{region}/alerts/{alertName}": {
            "get": {
                "x-ms-examples": {
                    "Returns the requested an alert.": {
                        "$ref": "./examples/Alert/Get.json"
                    }
                },
                "tags": [
                    "Alerts"
                ],
                "description": "Returns the requested an alert.",
                "operationId": "Alerts_Get",
                "parameters": [
                    {
                        "$ref": "InfrastructureInsights.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "InfrastructureInsights.json#/parameters/ResourceGroupParameter"
                    },
                    {
                        "$ref": "InfrastructureInsights.json#/parameters/RegionParameter"
                    },
                    {
                        "$ref": "#/parameters/AlertNameParameter"
                    },
                    {
                        "$ref": "InfrastructureInsights.json#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Alert"
                        }
                    },
                    "404": {
                        "description": "NOT FOUND"
                    }
                },
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ]
            },
            "put": {
                "x-ms-examples": {
                    "Closes the given alert.": {
                        "$ref": "./examples/Alert/Close.json"
                    }
                },
                "tags": [
                    "Alerts"
                ],
                "description": "Closes the given alert.",
                "operationId": "Alerts_Close",
                "parameters": [
                    {
                        "$ref": "InfrastructureInsights.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "InfrastructureInsights.json#/parameters/ResourceGroupParameter"
                    },
                    {
                        "$ref": "InfrastructureInsights.json#/parameters/RegionParameter"
                    },
                    {
                        "$ref": "#/parameters/AlertNameParameter"
                    },
                    {
                        "$ref": "InfrastructureInsights.json#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/UserParameter"
                    },
                    {
                        "$ref": "#/parameters/AlertParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Alert"
                        }
                    },
                    "404": {
                        "description": "NOT FOUND"
                    }
                },
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ]
            }
        }
    },
    "definitions": {
        "Alert": {
            "description": "This class models an alert resource.",
            "type": "object",
            "properties": {
                "properties": {
                    "description": "Holds all information related to Alerts",
                    "$ref": "#/definitions/AlertModel",
                    "x-ms-client-flatten": true
                }
            },
            "allOf": [
                {
                    "$ref": "InfrastructureInsights.json#/definitions/Resource"
                }
            ]
        },
        "AlertModel": {
            "description": "Holds Alert data",
            "properties": {
                "closedTimestamp": {
                    "description": "Timestamp when the alert was closed.",
                    "type": "string"
                },
                "createdTimestamp": {
                    "description": "Timestamp when the alert was created.",
                    "type": "string"
                },
                "description": {
                    "description": "Description of the alert.",
                    "type": "array",
                    "items": {
                        "$ref": "InfrastructureInsights.json#/definitions/Dictionary"
                    }
                },
                "faultId": {
                    "description": "Fault id of the alert.",
                    "type": "string"
                },
                "alertId": {
                    "description": "Id of the alert.",
                    "type": "string"
                },
                "faultTypeId": {
                    "description": "Fault type id of the alert.",
                    "type": "string"
                },
                "lastUpdatedTimestamp": {
                    "description": "Timestamp when the alert was last updated.",
                    "type": "string"
                },
                "alertProperties": {
                    "description": "Properties of the alert.",
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                },
                "remediation": {
                    "description": "Admin friendly remediation instructions for the alert.",
                    "type": "array",
                    "items": {
                        "$ref": "InfrastructureInsights.json#/definitions/Dictionary"
                    }
                },
                "resourceRegistrationId": {
                    "description": "Registration id of the atomic component the alert belongs to.  This is null if not associated with a resource.",
                    "type": "string"
                },
                "resourceProviderRegistrationId": {
                    "description": "Registration id of the service the alert belongs to.",
                    "type": "string"
                },
                "severity": {
                    "description": "Severity of the alert.",
                    "type": "string"
                },
                "state": {
                    "description": "State of the alert.",
                    "type": "string"
                },
                "title": {
                    "description": "Title of the alert.",
                    "type": "string"
                },
                "impactedResourceId": {
                    "description": "ResourceId for the impacted item.",
                    "type": "string"
                },
                "impactedResourceDisplayName": {
                    "description": "Display name for the impacted item.",
                    "type": "string"
                },
                "closedByUserAlias": {
                    "description": "User alias who closed the alert.",
                    "type": "string"
                }
            }
        },
        "AlertList": {
            "description": "A pageable list of Alerts",
            "properties": {
                "value": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Alert"
                    },
                    "description": "Holds all alerts in this page."
                },
                "nextLink": {
                    "type": "string",
                    "description": "Points to the next page."
                }
            }
        }
    },
    "parameters": {
        "AlertNameParameter": {
            "name": "alertName",
            "description": "Name of the alert.",
            "type": "string",
            "required": true,
            "in": "path",
            "x-ms-parameter-location": "method"
        },
        "UserParameter": {
            "description": "The username used to perform the operation.",
            "name": "user",
            "type": "string",
            "required": true,
            "in": "query",
            "x-ms-parameter-location": "method"
        },
        "AlertParameter": {
            "description": "Updated Alert Parameter.",
            "name": "alert",
            "schema": {
                "$ref": "#/definitions/Alert"
            },
            "required": true,
            "in": "body",
            "x-ms-parameter-location": "method"
        }
    },
    "securityDefinitions": {
        "azure_auth": {
            "type": "oauth2",
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "flow": "implicit",
            "description": "Azure Active Directory OAuth2 Flow",
            "scopes": {
                "user_impersonation": "impersonate your user account"
            }
        }
    },
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ]
}