{
    "swagger": "2.0",
    "info": {
        "version": "2016-05-01",
        "title": "BackupManagementClient",
        "description": "The Admin Backup Management Client."
    },
    "host": "adminmanagement.local.azurestack.external",
    "schemes": [
        "https"
    ],
    "paths": {
        "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroup}/providers/Microsoft.Backup.Admin/backupLocations/{backupLocation}/backups": {
            "get": {
                "x-ms-examples": {
                    "Get a list of backups from a location.": {
                        "$ref": "./examples/Backups/List.json"
                    }
                },
                "description": "Get a list of backups from a location.",
                "tags": [
                    "Backups"
                ],
                "operationId": "Backups_List",
                "parameters": [
                    {
                        "$ref": "Backup.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "Backup.json#/parameters/ResourceGroupParameter"
                    },
                    {
                        "$ref": "BackupLocations.json#/parameters/BackupLocationParameter"
                    },
                    {
                        "$ref": "Backup.json#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/BackupList"
                        }
                    }
                },
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "x-ms-pageable": {
                    "nextLinkName": null
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroup}/providers/Microsoft.Backup.Admin/backupLocations/{backupLocation}/backups/{backup}": {
            "get": {
                "x-ms-examples": {
                    "Get a backup from a location based on name.": {
                        "$ref": "./examples/Backups/Get.json"
                    }
                },
                "description": "Get a backup from a location based on name.",
                "tags": [
                    "Backups"
                ],
                "operationId": "Backups_Get",
                "parameters": [
                    {
                        "$ref": "Backup.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "Backup.json#/parameters/ResourceGroupParameter"
                    },
                    {
                        "$ref": "BackupLocations.json#/parameters/BackupLocationParameter"
                    },
                    {
                        "$ref": "#/parameters/BackupParameter"
                    },
                    {
                        "$ref": "Backup.json#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Backup"
                        }
                    },
                    "400": {
                        "description": "NOT FOUND"
                    }
                },
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ]
            }
        },
        "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroup}/providers/Microsoft.Backup.Admin/backupLocations/{backupLocation}/backups/{backup}/restore": {
            "post": {
                "x-ms-examples": {
                    "Get a backup from a location based on name.": {
                        "$ref": "./examples/Backups/Restore.json"
                    }
                },
                "description": "Restore a backup.",
                "tags": [
                    "Backups"
                ],
                "operationId": "Backups_Restore",
                "parameters": [
                    {
                        "$ref": "Backup.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "BackupLocations.json#/parameters/BackupLocationParameter"
                    },
                    {
                        "$ref": "Backup.json#/parameters/ResourceGroupParameter"
                    },
                    {
                        "$ref": "#/parameters/BackupParameter"
                    },
                    {
                        "$ref": "Backup.json#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "string"
                        },
                        "202": {
                            "description": "ACCEPTED",
                            "schema": {
                                "type": "string"
                            }
                        }
                    }
                },
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "x-ms-long-running-operation": true
            }
        }
    },
    "definitions": {
        "Backup": {
            "description": "Information related to a backup.",
            "type": "object",
            "properties": {
                "properties": {
                    "description": "Properties for a backup.",
                    "$ref": "#/definitions/BackupModel",
                    "x-ms-client-flatten": true
                }
            },
            "allOf": [
                {
                    "$ref": "Backup.json#/definitions/Resource"
                }
            ]
        },
        "BackupModel": {
            "description": "Properties for a backup.",
            "properties": {
                "backupInfo": {
                    "description": "Holds information for a backup.",
                    "x-ms-client-flatten": true,
                    "$ref": "#/definitions/BackupInfo"
                }
            }
        },
        "BackupInfo": {
            "type": "object",
            "description": "Holds information for a backup.",
            "properties": {
                "backupDataVersion": {
                    "description": "Version of the backup data.",
                    "type": "string"
                },
                "backupId": {
                    "description": "Unique GUID for the backup.",
                    "type": "string"
                },
                "roleStatus": {
                    "description": "Backup status for each role.",
                    "$ref": "#/definitions/RoleOperationStatusList"
                },
                "status": {
                    "description": "Current status of the backup.",
                    "$ref": "#/definitions/OperationStatus"
                },
                "createdDateTime": {
                    "description": "Creation time of backup.",
                    "type": "string",
                    "format": "date-time"
                },
                "timeTakenToCreate": {
                    "description": "Duration to create backup.",
                    "type": "string"
                }
            }
        },
        "OperationStatus": {
            "description": "Status of an operation.",
            "type": "string",
            "enum": [
                "Creating",
                "Queued",
                "Running",
                "Deleted",
                "Failed",
                "PartialSucceeded",
                "Succeeded"
            ],
            "x-ms-enum": {
                "name": "OperationStatus",
                "modelAsString": true
            }
        },
        "RoleOperationStatusList": {
            "description": "object",
            "type": "array",
            "items": {
                "$ref": "#/definitions/RoleOperationStatus"
            }
        },
        "RoleOperationStatus": {
            "description": "Backup status for a role.",
            "type": "object",
            "properties": {
                "roleName": {
                    "description": "Name of the role.",
                    "type": "string"
                },
                "operationStatus": {
                    "description": "Status of the role.",
                    "$ref": "#/definitions/OperationStatus"
                }
            }
        },
        "BackupList": {
            "type": "object",
            "description": "List of backups.",
            "properties": {
                "value": {
                    "description": "List of backups.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Backup"
                    }
                },
                "nextLink": {
                    "description": "URI to the next page.",
                    "type": "string"
                }
            }
        }
    },
    "parameters": {
        "BackupParameter": {
            "name": "backup",
            "in": "path",
            "description": "Name of the backup.",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
        }
    },
    "securityDefinitions": {
        "azure_auth": {
            "type": "oauth2",
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "flow": "implicit",
            "description": "Azure Active Directory OAuth2 Flow",
            "scopes": {
                "user_impersonation": "impersonate your user account"
            }
        }
    },
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ]
}