{
    "swagger": "2.0",
    "info": {
        "version": "2015-11-01",
        "title": "SubscriptionsManagementClient",
        "description": "The Admin Subscriptions Management Client."
    },
    "host": "adminmanagement.local.azurestack.external",
    "schemes": [
        "https"
    ],
    "paths": {
        "/subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/subscriptions/{targetSubscription}/acquiredPlans": {
            "get": {
                "x-ms-examples": {
                    "Get the list of usage aggregates for all tenants.": {
                        "$ref": "examples/AcquiredPlan/List.json"
                    }
                },
                "description": "Gets a collection of SubscriberUsageAggregates, which are UsageAggregates from direct tenants.",
                "tags": [
                    "AcquiredPlans"
                ],
                "operationId": "AcquiredPlans_List",
                "parameters": [
                    {
                        "$ref": "Subscriptions.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/TargetSubscriptionParameter"
                    },
                    {
                        "$ref": "Subscriptions.json#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/AcquiredPlanList"
                        }
                    }
                },
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/subscriptions/{targetSubscription}/acquiredPlans/{plan}": {
            "get": {
                "x-ms-examples": {
                    "Get the list of usage aggregates for all tenants.": {
                        "$ref": "examples/AcquiredPlan/Get.json"
                    }
                },
                "tags": [
                    "AcquiredPlans"
                ],
                "description": "Get an acquired plan from name.",
                "operationId": "AcquiredPlans_Get",
                "parameters": [
                    {
                        "$ref": "Subscriptions.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/TargetSubscriptionParameter"
                    },
                    {
                        "$ref": "Subscriptions.json#/parameters/PlanParameter"
                    },
                    {
                        "$ref": "Subscriptions.json#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/AcquiredPlan"
                        }
                    },
                    "404": {
                        "description": "NOT FOUND"
                    }
                },
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ]
            },
            "delete": {
                "x-ms-examples": {
                    "Get the list of usage aggregates for all tenants.": {
                        "$ref": "./examples/AcquiredPlan/Delete.json"
                    }
                },
                "description": "Gets a collection of SubscriberUsageAggregates, which are UsageAggregates from direct tenants.",
                "tags": [
                    "AcquiredPlans"
                ],
                "operationId": "AcquiredPlans_Delete",
                "parameters": [
                    {
                        "$ref": "Subscriptions.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/TargetSubscriptionParameter"
                    },
                    {
                        "$ref": "Subscriptions.json#/parameters/PlanParameter"
                    },
                    {
                        "$ref": "Subscriptions.json#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    204 No Content                    
                },
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ]
            },
            "put": {
                "x-ms-examples": {
                    "Puts the acquired plan.": {
                        "$ref": "./examples/AcquiredPlan/Create.json"
                    }
                },
                "tags": [
                    "AcquiredPlans"
                ],
                "description": "Creates an acquired plan.",
                "operationId": "AcquiredPlans_Create",
                "parameters": [
                    {
                        "$ref": "Subscriptions.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/TargetSubscriptionParameter"
                    },
                    {
                        "$ref": "Subscriptions.json#/parameters/PlanParameter"
                    },
                    {
                        "$ref": "Subscriptions.json#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/NewAcquiredPlanParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/AcquiredPlan"
                        }
                    },
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/AcquiredPlan"
                        }
                },
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ]
            }
        }
    },
    "definitions": {
        "AcquiredPlan": {
            "description": "Represents the acquisition of an add-on plan for a subscription.",
            "type": "object",
            "properties": {
                "properties": {
                    "description": "Represents the acquisition of an add-on plan for a subscription.",
                    "x-ms-client-flatten": true,
                    "$ref": "#/definitions/AcquiredPlanProperties"
                }
            },
            "allOf": [
                {
                    "$ref": "Subscriptions.json#/definitions/Resource"
                }
            ]
        },
        "AcquiredPlanProperties": {
            "description": "Represents the acquisition of an add-on plan for a subscription.",
            "type": "object",
            "properties": {
                "acquisitionId": {
                    "description": "Acquisition identifier.",
                    "type": "string"
                },
                "planId": {
                    "description": "Plan identifier in the tenant subscription context.",
                    "type": "string"
                },
                "externalReferenceId": {
                    "description": "External reference identifier.",
                    "type": "string"
                },
                "provisioningState": {
                    "description": "State of the provisioning.",
                    "$ref": "#/definitions/ProvisioningState"
                },
                "acquisitionTime": {
                    "description": "Acquisition time.",
                    "type": "string",
                    "format": "date-time"
                }
            }
        },
        "ProvisioningState": {
            "description": "Provisioning state for subscriptions service resources e.g. resource provider registration.",
            "type": "string",
            "enum": [
                "NotSpecified",
                "Accepted",
                "Failed",
                "Succeeded"
            ],
            "x-ms-enum": {
                "name": "ProvisioningState",
                "modelAsString": true,
                "values": [
                    {
                        "description": "The provisioning state is not specified.",
                        "name": "NotSpecified",
                        "value": "NotSpecified"
                    },
                    {
                        "description": "The provisioning state is accepted, and indicates provisioning is ongoing.",
                        "name": "Accepted",
                        "value": "Accepted"
                    },
                    {
                        "description": "The provisioning state is failed, and indicates the data is potentially out-of-sync with third parties.",
                        "name": "Failed",
                        "value": "Failed"
                    },
                    {
                        "description": "The provisioning state is succeeded, and indicates the data is in-sync with third-parties.",
                        "name": "Succeeded",
                        "value": "Succeeded"
                    }
                ]
            }
        },
        "AcquiredPlanList": {
            "description": "List of acquired plans.",
            "properties": {
                "value": {
                    "description": "List of acquired plans.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/AcquiredPlan"
                    }
                },
                "nextLink": {
                    "type": "string",
                    "description": "URI to the next page."
                }
            }
        }
    },
    "parameters": {
        "TargetSubscriptionParameter": {
            "name": "targetSubscription",
            "in": "path",
            "description": "The target subscription.",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
        },
        "NewAcquiredPlanParameter": {
            "name": "newAcquiredPlan",
            "in": "body",
            "description": "The new acquired plan.",
            "required": true,
            "schema": {
                "$ref": "#/definitions/AcquiredPlanProperties"
            },
            "x-ms-parameter-location": "method"
        }
    },
    "securityDefinitions": {
        "azure_auth": {
            "type": "oauth2",
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "flow": "implicit",
            "description": "Azure Active Directory OAuth2 Flow",
            "scopes": {
                "user_impersonation": "impersonate your user account"
            }
        }
    },
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ]
}