{
    "swagger": "2.0",
    "info": {
        "version": "2015-06-01-preview",
        "title": "SubscriptionsManagementClient",
        "description": "The Admin Subscriptions Management Client."
    },
    "host": "management.local.azurestack.external",
    "schemes": [
        "https"
    ],
    "paths": {
        "/subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/offers/": {
            "get": {
                "x-ms-examples": {
                    "Get the list of offers.": {
                        "$ref": "./examples/Offer/List.json"
                    }
                },
                "description": "Get the list of offers.",
                "tags": [
                    "Offers"
                ],
                "operationId": "Offers_ListAll",
                "parameters": [
                    {
                        "$ref": "Subscriptions.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "Subscriptions.json#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/OfferList"
                        }
                    }
                },
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ]
            }
        },
        "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroup}/providers/Microsoft.Subscriptions.Admin/offers/": {
            "get": {
                "x-ms-examples": {
                    "Get the list of offers.": {
                        "$ref": "./examples/Offer/List.json"
                    }
                },
                "description": "Get the list of offers.",
                "tags": [
                    "Offers"
                ],
                "operationId": "Offers_List",
                "parameters": [
                    {
                        "$ref": "Subscriptions.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "Subscriptions.json#/parameters/ResourceGroupParameter"
                    },
                    {
                        "$ref": "Subscriptions.json#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/OfferList"
                        }
                    }
                },
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ]
            }
        },
        "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroup}/providers/Microsoft.Subscriptions.Admin/offers/{offer}": {
            "get": {
                "x-ms-examples": {
                    "Get the list of offers.": {
                        "$ref": "./examples/Offer/List.json"
                    }
                },
                "description": "Get the list of offers.",
                "tags": [
                    "Offers"
                ],
                "operationId": "Offers_Get",
                "parameters": [
                    {
                        "$ref": "Subscriptions.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "Subscriptions.json#/parameters/ResourceGroupParameter"
                    },
                    {
                        "$ref": "#/parameters/OfferParameter"
                    },
                    {
                        "$ref": "Subscriptions.json#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/OfferList"
                        }
                    }
                },
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ]
            },
            "put": {
                "x-ms-examples": {
                    "Get the list of offers.": {
                        "$ref": "./examples/Offer/List.json"
                    }
                },
                "description": "Get the list of offers.",
                "tags": [
                    "Offers"
                ],
                "operationId": "Offers_CreateOrUpdate",
                "parameters": [
                    {
                        "$ref": "Subscriptions.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "Subscriptions.json#/parameters/ResourceGroupParameter"
                    },
                    {
                        "$ref": "#/parameters/OfferParameter"
                    },
                    {
                        "$ref": "Subscriptions.json#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/OfferList"
                        }
                    }
                },
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ]
            },
            "delete": {
                "x-ms-examples": {
                    "Get the list of offers.": {
                        "$ref": "./examples/Offer/List.json"
                    }
                },
                "description": "Get the list of offers.",
                "tags": [
                    "Offers"
                ],
                "operationId": "Offers_Delete",
                "parameters": [
                    {
                        "$ref": "Subscriptions.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "Subscriptions.json#/parameters/ResourceGroupParameter"
                    },
                    {
                        "$ref": "#/parameters/OfferParameter"
                    },
                    {
                        "$ref": "Subscriptions.json#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/OfferList"
                        }
                    }
                },
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ]
            }
        },
        "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroup}/providers/Microsoft.Subscriptions.Admin/offers/{offer}/Metrics": {
            "get": {
                "x-ms-examples": {
                    "Get the list of offers.": {
                        "$ref": "./examples/Offer/List.json"
                    }
                },
                "description": "Get the list of offers.",
                "tags": [
                    "Offers"
                ],
                "operationId": "Offers_Metrics",
                "parameters": [
                    {
                        "$ref": "Subscriptions.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "Subscriptions.json#/parameters/ResourceGroupParameter"
                    },
                    {
                        "$ref": "#/parameters/OfferParameter"
                    },
                    {
                        "$ref": "Subscriptions.json#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/MetricDefinitionList"
                        }
                    }
                },
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ]
            }
        },
        "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroup}/providers/Microsoft.Subscriptions.Admin/offers/{offer}/MetricDefinitions": {
            "get": {
                "x-ms-examples": {
                    "Get the list of offers.": {
                        "$ref": "./examples/Offer/List.json"
                    }
                },
                "description": "Get the list of offers.",
                "tags": [
                    "Offers"
                ],
                "operationId": "Offers_MetricDefinitions",
                "parameters": [
                    {
                        "$ref": "Subscriptions.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "Subscriptions.json#/parameters/ResourceGroupParameter"
                    },
                    {
                        "$ref": "#/parameters/OfferParameter"
                    },
                    {
                        "$ref": "Subscriptions.json#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/MetricDefinitionList"
                        }
                    }
                },
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ]
            }
        }
    },
    "definitions": {
        "Offer": {
            "description": "",
            "type": "object",
            "properties": {
                "properties": {
                    "x-ms-client-flatten": true,
                    "description": "Properties for an offer.",
                    "$ref": "#/definitions/OfferProperties"
                }
            },
            "allOf": [
                {
                    "$ref": "Subscriptions.json#/definitions/Resource"
                }
            ]
        },
        "OfferProperties": {
            "description": "Properties for an offer.",
            "type": "object",
            "properties": {
                "subscriptionId": {
                    "type": "string",
                    "description": "Subscription id of tenant using plan."
                },
                "usageStartTime": {
                    "type": "string",
                    "format": "date-time",
                    "description": "UTC start time for the usage bucket to which this usage aggregate belongs."
                },
                "usageEndTime": {
                    "type": "string",
                    "format": "date-time",
                    "description": "UTC end time for the usage bucket to which this usage aggregate belongs."
                },
                "instanceData": {
                    "description": "Key-value pairs of instance details represented as a string.",
                    "type": "string"
                },
                "quantity": {
                    "description": "The amount of the resource consumption that occurred in this time frame.",
                    "type": "string"
                },
                "meterId": {
                    "description": "Unique ID for the resource that was consumed (aka ResourceID).",
                    "type": "string"
                }
            }
        },
        "Metric": {
            "description": "",
            "type": "object"
        },
        "MetricDefinition": {
            "description": "",
            "type": "object"
        },
        "OfferList": {
            "description": "Holds an array of usage aggregates and the continuation token.",
            "properties": {
                "value": {
                    "description": "Array of usage aggregates.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Offer"
                    }
                },
                "nextLink": {
                    "type": "string",
                    "description": "Continuation token"
                }
            }
        },
        "MetricList": {
            "description": "Holds an array of usage aggregates and the continuation token.",
            "properties": {
                "value": {
                    "description": "Array of usage aggregates.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Metric"
                    }
                },
                "nextLink": {
                    "type": "string",
                    "description": "Continuation token"
                }
            }
        },
        "MetricDefinitionList": {
            "description": "Holds an array of usage aggregates and the continuation token.",
            "properties": {
                "value": {
                    "description": "Array of usage aggregates.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/MetricDefinition"
                    }
                },
                "nextLink": {
                    "type": "string",
                    "description": "Continuation token"
                }
            }
        }
    },
    "parameters": {
        "OfferParameter": {
            "description": "",
            "name": "offer",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
        },
        "ApiVersionParameter": {
            "description": "",
            "name": "newOffer",
            "in": "body",
            "required": true,
            "schema": {
                "$ref": "#/definitions/Offer"
            },
            "x-ms-parameter-location": "method"
        }
    },
    "securityDefinitions": {
        "azure_auth": {
            "type": "oauth2",
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "flow": "implicit",
            "description": "Azure Active Directory OAuth2 Flow",
            "scopes": {
                "user_impersonation": "impersonate your user account"
            }
        }
    },
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ]
}