{
    "swagger": "2.0",
    "info": {
        "version": "2015-11-01",
        "title": "SubscriptionsManagementClient",
        "description": "The Admin Subscriptions Management Client."
    },
    "host": "adminmanagement.local.azurestack.external",
    "schemes": [
        "https"
    ],
    "paths": {
        "/subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/plans/": {
            "get": {
                "x-ms-examples": {
                    "Get the list of plans.": {
                        "$ref": "./examples/Plan/ListAll.json"
                    }
                },
                "description": "Get the list of plans.",
                "tags": [
                    "Plans"
                ],
                "operationId": "Plans_ListAll",
                "parameters": [
                    {
                        "$ref": "Subscriptions.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "Subscriptions.json#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/PlanList"
                        }
                    }
                },
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ]
            }
        },
        "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroup}/providers/Microsoft.Subscriptions.Admin/plans/": {
            "get": {
                "x-ms-examples": {
                    "Get the list of plans.": {
                        "$ref": "./examples/Plan/List.json"
                    }
                },
                "description": "Get the list of plans.",
                "tags": [
                    "Plans"
                ],
                "operationId": "Plans_List",
                "parameters": [
                    {
                        "$ref": "Subscriptions.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "Subscriptions.json#/parameters/ResourceGroupParameter"
                    },
                    {
                        "$ref": "Subscriptions.json#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/PlanList"
                        }
                    }
                },
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroup}/providers/Microsoft.Subscriptions.Admin/plans/{plan}": {
            "get": {
                "x-ms-examples": {
                    "Get the list of plans.": {
                        "$ref": "./examples/Plan/Get.json"
                    }
                },
                "description": "Get the list of plans.",
                "tags": [
                    "Plans"
                ],
                "operationId": "Plans_Get",
                "parameters": [
                    {
                        "$ref": "Subscriptions.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "Subscriptions.json#/parameters/ResourceGroupParameter"
                    },
                    {
                        "$ref": "Subscriptions.json#/parameters/PlanParameter"
                    },
                    {
                        "$ref": "Subscriptions.json#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Plan"
                        }
                    }
                },
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ]
            },
            "put": {
                "x-ms-examples": {
                    "Get the list of plans.": {
                        "$ref": "./examples/Plan/Create.json"
                    }
                },
                "description": "Get the list of plans.",
                "tags": [
                    "Plans"
                ],
                "operationId": "Plans_CreateOrUpdate",
                "parameters": [
                    {
                        "$ref": "Subscriptions.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "Subscriptions.json#/parameters/ResourceGroupParameter"
                    },
                    {
                        "$ref": "Subscriptions.json#/parameters/PlanParameter"
                    },
                    {
                        "$ref": "Subscriptions.json#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/NewPlanParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Plan"
                        }
                    }
                },
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ]
            },
            "delete": {
                "x-ms-examples": {
                    "Get the list of plans.": {
                        "$ref": "./examples/Plan/Delete.json"
                    }
                },
                "description": "Get the list of plans.",
                "tags": [
                    "Plans"
                ],
                "operationId": "Plans_Delete",
                "parameters": [
                    {
                        "$ref": "Subscriptions.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "Subscriptions.json#/parameters/ResourceGroupParameter"
                    },
                    {
                        "$ref": "Subscriptions.json#/parameters/PlanParameter"
                    },
                    {
                        "$ref": "Subscriptions.json#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ]
            }
        },
        "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroup}/providers/Microsoft.Subscriptions.Admin/plans/{plan}/Metrics": {
            "get": {
                "x-ms-examples": {
                    "Get the list of plans.": {
                        "$ref": "./examples/Plan/Metrics.json"
                    }
                },
                "description": "Get the list of plans.",
                "tags": [
                    "Plans"
                ],
                "operationId": "Plans_ListMetrics",
                "parameters": [
                    {
                        "$ref": "Subscriptions.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "Subscriptions.json#/parameters/ResourceGroupParameter"
                    },
                    {
                        "$ref": "Subscriptions.json#/parameters/PlanParameter"
                    },
                    {
                        "$ref": "Subscriptions.json#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "Subscriptions.json#/definitions/MetricList"
                        }
                    }
                },
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ]
            }
        },
        "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroup}/providers/Microsoft.Subscriptions.Admin/plans/{plan}/MetricDefinitions": {
            "get": {
                "x-ms-examples": {
                    "Get the list of plans.": {
                        "$ref": "./examples/Plan/MetricDefinitions.json"
                    }
                },
                "description": "Get the list of plans.",
                "tags": [
                    "Plans"
                ],
                "operationId": "Plans_ListMetricDefinitions",
                "parameters": [
                    {
                        "$ref": "Subscriptions.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "Subscriptions.json#/parameters/ResourceGroupParameter"
                    },
                    {
                        "$ref": "Subscriptions.json#/parameters/PlanParameter"
                    },
                    {
                        "$ref": "Subscriptions.json#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "Subscriptions.json#/definitions/MetricDefinitionList"
                        }
                    }
                },
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ]
            }
        }
    },
    "definitions": {
        "Plan": {
            "description": "A plan represents a package of quotas and capabilities that are offered tenants. A tenant can acquire this plan through an offer to upgrade his access to underlying cloud services.",
            "type": "object",
            "properties": {
                "properties": {
                    "x-ms-client-flatten": true,
                    "description": "A plan represents a package of quotas and capabilities that are offered tenants. A tenant can acquire this plan through an offer to upgrade his access to underlying cloud services.",
                    "$ref": "#/definitions/PlanProperties"
                }
            },
            "allOf": [
                {
                    "$ref": "Subscriptions.json#/definitions/Resource"
                }
            ]
        },
        "PlanProperties": {
            "description": "A plan represents a package of quotas and capabilities that are offered tenants. A tenant can acquire this plan through an offer to upgrade his access to underlying cloud services.",
            "type": "object",
            "properties": {
                "subscriptionId": {
                    "type": "string",
                    "description": "Subscription id of tenant using plan."
                },
                "usageStartTime": {
                    "type": "string",
                    "format": "date-time",
                    "description": "UTC start time for the usage bucket to which this usage aggregate belongs."
                },
                "usageEndTime": {
                    "type": "string",
                    "format": "date-time",
                    "description": "UTC end time for the usage bucket to which this usage aggregate belongs."
                },
                "instanceData": {
                    "description": "Key-value pairs of instance details represented as a string.",
                    "type": "string"
                },
                "quantity": {
                    "description": "The amount of the resource consumption that occurred in this time frame.",
                    "type": "string"
                },
                "meterId": {
                    "description": "Unique ID for the resource that was consumed (aka ResourceID).",
                    "type": "string"
                }
            }
        },
        "PlanList": {
            "description": "Holds an array of usage aggregates and the continuation token.",
            "properties": {
                "value": {
                    "description": "Array of usage aggregates.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Plan"
                    }
                },
                "nextLink": {
                    "type": "string",
                    "description": "Continuation token"
                }
            }
        }
    },
    "parameters": {
        "NewPlanParameter": {
            "description": "New plan.",
            "name": "newPlan",
            "in": "body",
            "required": true,
            "schema": {
                "$ref": "#/definitions/Plan"
            },
            "x-ms-parameter-location": "method"
        }
    },
    "securityDefinitions": {
        "azure_auth": {
            "type": "oauth2",
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "flow": "implicit",
            "description": "Azure Active Directory OAuth2 Flow",
            "scopes": {
                "user_impersonation": "impersonate your user account"
            }
        }
    },
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ]
}