{
    "swagger": "2.0",
    "info": {
        "version": "2015-11-01",
        "title": "SubscriptionsManagementClient",
        "description": "The Admin Subscriptions Management Client."
    },
    "host": "adminmanagement.local.azurestack.external",
    "schemes": [
        "https"
    ],
    "paths": {
        "/providers/Microsoft.Subscriptions.Admin/operations": {
            "get": {
                "x-ms-examples": {
                    "Get the list of offers.": {
                        "$ref": "./examples/Offer/List.json"
                    }
                },
                "description": "Get the list of offers.",
                "tags": [
                    "Subscriptions"
                ],
                "operationId": "ListOperations",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/OperationList"
                        }
                    }
                },
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ]
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/updateEncryption": {
            "post": {
                "x-ms-examples": {
                    "Get the list of offers.": {
                        "$ref": "./examples/Offer/List.json"
                    }
                },
                "description": "Get the list of offers.",
                "tags": [
                    "Subscriptions"
                ],
                "operationId": "UpdateEncryption",
                "parameters": [
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ]
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/restoreData": {
            "post": {
                "x-ms-examples": {
                    "Get the list of offers.": {
                        "$ref": "./examples/Offer/List.json"
                    }
                },
                "description": "Get the list of offers.",
                "tags": [
                    "Subscriptions"
                ],
                "operationId": "RestoreData",
                "parameters": [
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ]
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/subscriptions": {
            "get": {
                "x-ms-examples": {
                    "Get the list of offers.": {
                        "$ref": "./examples/Offer/List.json"
                    }
                },
                "description": "Get the list of offers.",
                "tags": [
                    "Subscriptions"
                ],
                "operationId": "Subscriptions_List",
                "parameters": [
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SubscriptionList"
                        }
                    }
                },
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "x-ms-pageable": {
                    "nextLinkName": null
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/subscriptions/{subscription}": {
            "get": {
                "x-ms-examples": {
                    "Get the list of offers.": {
                        "$ref": "./examples/Offer/List.json"
                    }
                },
                "description": "Get the list of offers.",
                "tags": [
                    "Subscriptions"
                ],
                "operationId": "Subscriptions_Get",
                "parameters": [
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionParameter"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ]
            },
            "put": {
                "x-ms-examples": {
                    "Get the list of offers.": {
                        "$ref": "./examples/Offer/List.json"
                    }
                },
                "description": "Get the list of offers.",
                "tags": [
                    "Subscriptions"
                ],
                "operationId": "Subscriptions_CreateOrUpdate",
                "parameters": [
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionParameter"
                    },
                    {
                        "$ref": "#/parameters/NewSubscriptionParameter"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Subscription"
                        }
                    }
                },
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ]
            },
            "delete": {
                "x-ms-examples": {
                    "Get the list of offers.": {
                        "$ref": "./examples/Offer/List.json"
                    }
                },
                "description": "Get the list of offers.",
                "tags": [
                    "Subscriptions"
                ],
                "operationId": "Subscriptions_Delete",
                "parameters": [
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionParameter"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ]
            }
        }
    },
    "definitions": {
        "Resource": {
            "description": "Base Resource Object",
            "type": "object",
            "properties": {
                "id": {
                    "readOnly": true,
                    "description": "URI of the resource.",
                    "type": "string"
                },
                "name": {
                    "readOnly": true,
                    "description": "Name of the resource.",
                    "type": "string"
                },
                "type": {
                    "readOnly": true,
                    "description": "Type of resource.",
                    "type": "string"
                },
                "location": {
                    "description": "Location where resource is location.",
                    "type": "string"
                },
                "tags": {
                    "readOnly": true,
                    "description": "List of key value pairs.",
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                }
            },
            "x-ms-azure-resource": true
        },
        "Operation": {
            "description": "Supported REST operation.",
            "type": "object",
            "properties": {
                "display": {
                    "description": "Display information for the operation.",
                    "type": "object",
                    "properties": {
                        "description": {
                            "description": "Description for the operation.",
                            "type": "string",
                            "readOnly": true
                        },
                        "operation": {
                            "description": "Display name of the operation.",
                            "type": "string",
                            "readOnly": true
                        },
                        "provider": {
                            "description": "Resource provider display name.",
                            "type": "string",
                            "readOnly": true
                        },
                        "resource": {
                            "description": "Resource type display name related to the operation.",
                            "type": "string",
                            "readOnly": true
                        }
                    }
                },
                "name": {
                    "description": "name of the operation being performed on an object.",
                    "type": "string",
                    "readOnly": true
                },
                "origin": {
                    "description": "Origin for the operation.",
                    "type": "string",
                    "readOnly": true
                }
            }
        },
        "OperationList": {
            "description": "List of supported operations.",
            "type": "object",
            "properties": {
                "value": {
                    "description": "List of supported operations.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Operation"
                    }
                }
            }
        },
        "Subscription": {
            "description": "List of supported operations.",
            "type": "object",
            "properties": {
                "delegatedProviderSubscriptionId": {
                    "description": "Parent reseller subscription identifier.",
                    "type": "string"
                },
                "displayName": {
                    "description": "Subscription name.",
                    "type": "string"
                },
                "id": {
                    "description": "Fully qualified identifier.",
                    "type": "string"
                },
                "externalReferenceId": {
                    "description": "External reference identifier.",
                    "type": "string"
                },
                "offerId": {
                    "description": "Identifier of the offer under the scope of a delegated provider.",
                    "type": "string"
                },
                "owner": {
                    "description": "Subscription owner.",
                    "type": "string"
                },
                "routingResourceManagerType": {
                    "description": "Routing resource manager type.",
                    "$ref": "#/definitions/ResourceManagerType"
                },
                "state": {
                    "description": "Subscription state.",
                    "$ref": "#/definitions/SubscriptionState"
                },
                "subscriptionId": {
                    "description": "Subscription identifier.",
                    "type": "string"
                },
                "tenantId": {
                    "description": "Directory tenant identifier.",
                    "type": "string"
                }
            },
            "allOf": [
                {
                    "$ref": "#/definitions/Resource"
                }
            ]
        },
        "SubscriptionList": {
            "description": "List of subscriptions.",
            "properties": {
                "value": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Subscription"
                    }
                },
                "nextLink": {
                    "description": "URI to the next page.",
                    "type": "string"
                }
            }
        },
        "ResourceManagerType": {
            "description": "Resource manager type.",
            "type": "string",
            "enum": [
                "Default",
                "Admin"
            ],
            "x-ms-enum": {
                "name": "ResourceManagerType",
                "modelAsString": true,
                "values": [
                    {
                        "description": "The default/user-facing resource manager.",
                        "name": "Default",
                        "value": "0"
                    },
                    {
                        "description": "The admin resource manager.",
                        "name": "Admin",
                        "value": "1"
                    }
                ]
            }
        },
        "SubscriptionState": {
            "description": "Subscription notification state.",
            "type": "string",
            "enum": [
                "NotDefined",
                "Enabled",
                "Warned",
                "PastDue",
                "Disabled",
                "Deleted"
            ],
            "x-ms-enum": {
                "name": "SubscriptionState",
                "modelAsString": true,
                "values": [
                    {
                        "description": "The subscription state is unknown.",
                        "name": "NotDefined",
                        "value": "0"
                    },
                    {
                        "description": "The subscription is enabled.",
                        "name": "Enabled",
                        "value": "1"
                    },
                    {
                        "description": "The subscription has been warned.",
                        "name": "Warned",
                        "value": "2"
                    },
                    {
                        "description": "The subscription is past due.",
                        "name": "PastDue",
                        "value": "3"
                    },
                    {
                        "description": "The subscription is disabled.",
                        "name": "Disabled",
                        "value": "4"
                    },
                    {
                        "description": "The subscription is deleted.",
                        "name": "Deleted",
                        "value": "5"
                    }
                ]
            }
        },
        "Metric": {
            "description": "The resource metric set that represents the metrics for a particular resource.",
            "type": "object",
            "properties": {
                "metricUnit": {
                    "description": "Unit of metrics.",
                    "$ref": "#/definitions/MetricUnit"
                },
                "timeGrain": {
                    "description": "Timespan of the metric.",
                    "type": "string"
                },
                "startTime": {
                    "description": "Start time of the metric.",
                    "type": "string",
                    "format": "date-time"
                },
                "endTime": {
                    "description": "End time of the metric.",
                    "type": "string",
                    "format": "date-time"
                },
                "metricValues": {
                    "description": "Collected metric values in the timespan.",
                    "$ref": "#/definitions/MetricValueList"
                }
            }
        },
        "MetricValue": {
            "description": "Metric value",
            "type": "object",
            "properties": {
                "timeStamp": {
                    "description": "Timestamp of when the metric value was collected.",
                    "type": "string",
                    "format": "date-time"
                },
                "average": {
                    "description": "Average value for metric sample period.",
                    "type": "number",
                    "format": "double"
                },
                "minimum": {
                    "description": "Minimum value for metric sample period.",
                    "type": "number",
                    "format": "double"
                },
                "maximum": {
                    "description": "Maximum value for metric sample period.",
                    "type": "number",
                    "format": "double"
                },
                "total": {
                    "description": "Total value for metric sample period.",
                    "type": "number",
                    "format": "double"
                },
                "count": {
                    "description": "Number of measurements for metric sample period.",
                    "type": "integer"
                },
                "properties": {
                    "x-ms-client-name": "extendedProperties",
                    "description": "Extended properties.",
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                }
            }
        },
        "MetricValueList": {
            "description": "List of metric values.",
            "type": "array",
            "items": {
                "$ref": "#/definitions/MetricValue"
            }
        },
        "MetricDefinition": {
            "description": "Metric Definition",
            "type": "object",
            "properties": {
                "name": {
                    "description": "Metric definition name.",
                    "type": "string"
                },
                "unit": {
                    "description": "Unit of metrics.",
                    "$ref": "#/definitions/MetricUnit"
                },
                "primaryAggregationType": {
                    "description": "Type of the primary aggregation.",
                    "$ref": "#/definitions/MetricPrimaryAggregationType"
                },
                "metricAvailabilities": {
                    "description": "Metric availabilities.",
                    "$ref": "#/definitions/MetricAvailabilityList"
                }
            }
        },
        "MetricUnit": {
            "description": "The resource metric unit.",
            "type": "string",
            "enum": [
                "Count",
                "Bytes",
                "Seconds",
                "CountPerSecond",
                "BytesPerSecond"
            ],
            "x-ms-enum": {
                "name": "MetricUnit",
                "modelAsString": true,
                "values": [
                    {
                        "description": "The count.",
                        "name": "Count",
                        "value": "Count"
                    },
                    {
                        "description": "The bytes.",
                        "name": "Bytes",
                        "value": "Bytes"
                    },
                    {
                        "description": "The seconds.",
                        "name": "Seconds",
                        "value": "Seconds"
                    },
                    {
                        "description": "The count per second.",
                        "name": "CountPerSecond",
                        "value": "CountPerSecond"
                    },
                    {
                        "description": "The bytes per second.",
                        "name": "BytesPerSecond",
                        "value": "BytesPerSecond"
                    }
                ]
            }
        },
        "MetricPrimaryAggregationType": {
            "description": "The primary aggregation type for resource metric.",
            "type": "string",
            "enum": [
                "None",
                "Average",
                "Total",
                "Minimum",
                "Maximum",
                "Last"
            ],
            "x-ms-enum": {
                "name": "MetricPrimaryAggregationType",
                "modelAsString": true,
                "values": [
                    {
                        "description": "No aggregation applied to resource.",
                        "name": "None",
                        "value": "None"
                    },
                    {
                        "description": "The average aggregation type.",
                        "name": "Average",
                        "value": "Average"
                    },
                    {
                        "description": "The total aggregation type.",
                        "name": "Total",
                        "value": "Total"
                    },
                    {
                        "description": "The minimum aggregation type.",
                        "name": "Minimum",
                        "value": "Minimum"
                    },
                    {
                        "description": "The maximum aggregation type.",
                        "name": "Maximum",
                        "value": "Maximum"
                    },
                    {
                        "description": "The last aggregation type.",
                        "name": "Last",
                        "value": "Last"
                    }
                ]
            }
        },
        "MetricAvailability": {
            "description": "Metric Definition",
            "type": "object",
            "properties": {
                "timeGrain": {
                    "description": "The time grain. Metrics will be available for this time grain.",
                    "type": "string"
                },
                "retention": {
                    "description": "the retention. Metrics may be queried for this interval.",
                    "type": "string"
                }
            }
        },
        "MetricAvailabilityList": {
            "description": "List of metric definitions.",
            "type": "array",
            "items": {
                "$ref": "#/definitions/MetricAvailability"
            }
        },
        "MetricList": {
            "description": "Holds an array of usage aggregates and the continuation token.",
            "properties": {
                "value": {
                    "description": "Array of usage aggregates.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Metric"
                    }
                },
                "nextLink": {
                    "type": "string",
                    "description": "Continuation token"
                }
            }
        },
        "MetricDefinitionList": {
            "description": "Holds an array of usage aggregates and the continuation token.",
            "properties": {
                "value": {
                    "description": "Array of usage aggregates.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/MetricDefinition"
                    }
                },
                "nextLink": {
                    "type": "string",
                    "description": "Continuation token"
                }
            }
        }
    },
    "parameters": {
        "SubscriptionIdParameter": {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.",
            "required": true,
            "type": "string"
        },
        "ApiVersionParameter": {
            "name": "api-version",
            "in": "query",
            "description": "Client Api Version.",
            "required": true,
            "type": "string",
            "default": "2015-11-01"
        },
        "ResourceGroupParameter": {
            "description": "The resource group the resource is located under.",
            "name": "resourceGroup",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-parameter-location": "method"
        },
        "LocationParameter": {
            "description": "The AzureStack location.",
            "name": "location",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-parameter-location": "method"
        },
        "SubscriptionParameter": {
            "description": "Subscription parameter.",
            "name": "subscription",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-parameter-location": "method"
        },
        "NewSubscriptionParameter": {
            "description": "Subscription parameter.",
            "name": "newSubscription",
            "in": "body",
            "schema": {
                "$ref": "#/definitions/Subscription"
            },
            "required": true,
            "x-ms-parameter-location": "method"
        },
        "OfferParameter": {
            "description": "Name of an offer.",
            "name": "offer",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
        },
        "PlanParameter": {
            "description": "Name of the plan.",
            "name": "plan",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
        },
        "DelegatedProviderParameter": {
            "description": "Reseller identifier.",
            "name": "delegatedProvider",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
        }
    },
    "securityDefinitions": {
        "azure_auth": {
            "type": "oauth2",
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "flow": "implicit",
            "description": "Azure Active Directory OAuth2 Flow",
            "scopes": {
                "user_impersonation": "impersonate your user account"
            }
        }
    },
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ]
}