{
    "swagger": "2.0",
    "info": {
        "version": "2015-06-01-preview",
        "title": "SubscriptionsManagementClient",
        "description": "The Admin Subscriptions Management Client."
    },
    "host": "management.local.azurestack.external",
    "schemes": [
        "https"
    ],
    "paths": {
        "/Microsoft.Subscriptions.Admin/operations": {
            "get": {
                "x-ms-examples": {
                    "Get the list of offers.": {
                        "$ref": "./examples/Offer/List.json"
                    }
                },
                "description": "Get the list of offers.",
                "tags": [
                    "Subscriptions"
                ],
                "operationId": "Operations",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/OperationList"
                        }
                    }
                },
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ]
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/updateEncryption": {
            "post": {
                "x-ms-examples": {
                    "Get the list of offers.": {
                        "$ref": "./examples/Offer/List.json"
                    }
                },
                "description": "Get the list of offers.",
                "tags": [
                    "Subscriptions"
                ],
                "operationId": "RotateEncryption",
                "parameters": [
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ]
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/restoreData": {
            "post": {
                "x-ms-examples": {
                    "Get the list of offers.": {
                        "$ref": "./examples/Offer/List.json"
                    }
                },
                "description": "Get the list of offers.",
                "tags": [
                    "Subscriptions"
                ],
                "operationId": "Restore",
                "parameters": [
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ]
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/subscriptions": {
            "get": {
                "x-ms-examples": {
                    "Get the list of offers.": {
                        "$ref": "./examples/Offer/List.json"
                    }
                },
                "description": "Get the list of offers.",
                "tags": [
                    "Subscriptions"
                ],
                "operationId": "Subscriptions_List",
                "parameters": [
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SubscriptionList"
                        }
                    }
                },
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ]
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/subscriptions/{subscription}": {
            "get": {
                "x-ms-examples": {
                    "Get the list of offers.": {
                        "$ref": "./examples/Offer/List.json"
                    }
                },
                "description": "Get the list of offers.",
                "tags": [
                    "Subscriptions"
                ],
                "operationId": "Subscriptions_Get",
                "parameters": [
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionParameter"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ]
            },
            "put": {
                "x-ms-examples": {
                    "Get the list of offers.": {
                        "$ref": "./examples/Offer/List.json"
                    }
                },
                "description": "Get the list of offers.",
                "tags": [
                    "Subscriptions"
                ],
                "operationId": "Subscriptions_CreateOrUpdate",
                "parameters": [
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionParameter"
                    },
                    {
                        "$ref": "#/parameters/NewSubscriptionParameter"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Subscription"
                        }
                    }
                },
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ]
            },
            "delete": {
                "x-ms-examples": {
                    "Get the list of offers.": {
                        "$ref": "./examples/Offer/List.json"
                    }
                },
                "description": "Get the list of offers.",
                "tags": [
                    "Subscriptions"
                ],
                "operationId": "Subscriptions_Delete",
                "parameters": [
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionParameter"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ]
            }
        }
    },
    "definitions": {
        "Resource": {
            "description": "Base Resource Object",
            "type": "object",
            "properties": {
                "id": {
                    "readOnly": true,
                    "description": "URI of the resource.",
                    "type": "string"
                },
                "name": {
                    "readOnly": true,
                    "description": "Name of the resource.",
                    "type": "string"
                },
                "type": {
                    "readOnly": true,
                    "description": "Type of resource.",
                    "type": "string"
                },
                "location": {
                    "readOnly": true,
                    "description": "Location where resource is location.",
                    "type": "string"
                },
                "tags": {
                    "readOnly": true,
                    "description": "List of key value pairs.",
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                }
            },
            "x-ms-azure-resource": true
        },
        "Operation": {
            "description": "",
            "type": "object"
        },
        "OperationList": {
            "description": "List of supported operations.",
            "type": "array",
            "items": {
                "$ref": "#/definitions/Operation"
            }
        },
        "Subscription": {
            "description": "List of supported operations.",
            "type": "object"
        },
        "SubscriptionList": {
            "description": "List of supported operations.",
            "type": "object"
        }
    },
    "parameters": {
        "SubscriptionIdParameter": {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.",
            "required": true,
            "type": "string"
        },
        "ApiVersionParameter": {
            "name": "api-version",
            "in": "query",
            "description": "Client Api Version.",
            "required": true,
            "type": "string",
            "default": "2015-06-01-preview"
        },
        "ResourceGroupParameter": {
            "description": "The resource group the resource is located under.",
            "name": "resourceGroup",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-parameter-location": "method"
        },
        "LocationParameter": {
            "description": "The AzureStack location.",
            "name": "location",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-parameter-location": "method"
        },
        "SubscriptionParameter": {
            "description": "Subscription parameter.",
            "name": "subscription",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-parameter-location": "method"
        },
        "NewSubscriptionParameter": {
            "description": "Subscription parameter.",
            "name": "newSubscription",
            "in": "body",
            "schema": {
                "$ref": "#/definitions/Subscription"
            },
            "required": true,
            "x-ms-parameter-location": "method"
        }
    },
    "securityDefinitions": {
        "azure_auth": {
            "type": "oauth2",
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "flow": "implicit",
            "description": "Azure Active Directory OAuth2 Flow",
            "scopes": {
                "user_impersonation": "impersonate your user account"
            }
        }
    },
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ]
}