{
    "swagger": "2.0",
    "info": {
        "version": "2015-12-01-preview",
        "title": "StorageManagementClient",
        "description": "The Admin Storage Management Client."
    },
    "host": "adminmanagement.local.azurestack.external",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Storage.Admin/farms/{farmId}/blobservices/default": {
            "get": {
                "x-ms-examples": {
                    "Returns the default blob service.": {
                        "$ref": "./Examples/BlobService/Get.json"
                    }
                },
                "tags": [
                    "BlobServices"
                ],
                "operationId": "BlobServices_Get",
                "description": "Returns the default blob service.",
                "parameters": [
                    {
                        "$ref": "storage.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "storage.json#/parameters/ResourceGroupNameParameter"
                    },
                    {
                        "$ref": "storage.json#/parameters/FarmIdParameter"
                    },
                    {
                        "$ref": "storage.json#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/BlobService"
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Storage.Admin/farms/{farmId}/blobservices/default/metricdefinitions": {
            "get": {
                "x-ms-examples": {
                    "Returns the list of metric definitions for the default blob service.": {
                        "$ref": "./Examples/BlobService/ListMetricDefinitions.json"
                    }
                },
                "tags": [
                    "BlobServices"
                ],
                "operationId": "BlobServices_ListMetricDefinitions",
                "description": "Returns the list of metric definitions for the default blob service.",
                "parameters": [
                    {
                        "$ref": "storage.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "storage.json#/parameters/ResourceGroupNameParameter"
                    },
                    {
                        "$ref": "storage.json#/parameters/FarmIdParameter"
                    },
                    {
                        "$ref": "storage.json#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "schema": {
                            "$ref": "storage.json#/definitions/MetricDefinitionList"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": null
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Storage.Admin/farms/{farmId}/blobservices/default/metrics": {
            "get": {
                "x-ms-examples": {
                    "Returns the list of metric for the blob service.": {
                        "$ref": "./Examples/BlobService/ListMetrics.json"
                    }
                },
                "tags": [
                    "BlobServices"
                ],
                "operationId": "BlobServices_ListMetrics",
                "description": "Returns the list of metric for the blob service.",
                "parameters": [
                    {
                        "$ref": "storage.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "storage.json#/parameters/ResourceGroupNameParameter"
                    },
                    {
                        "$ref": "storage.json#/parameters/FarmIdParameter"
                    },
                    {
                        "$ref": "storage.json#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "storage.json#/definitions/MetricList"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": null
                }
            }
        }
    },
    "definitions": {
        "BlobServiceWritableSettings": {
            "description": "TODO",
            "type": "object",
            "properties": {
                "blobSvcContainerGcInterval": {
                    "type": "integer",
                    "format": "int32",
                    "description": "TODO"
                },
                "blobSvcShallowGcInterval": {
                    "type": "integer",
                    "format": "int32",
                    "description": "TODO"
                },
                "blobSvcStreamMapMinContainerOccupancyPercent": {
                    "type": "integer",
                    "format": "int32",
                    "description": "TODO"
                }
            },
            "allOf": [
                {
                    "$ref": "storage.json#/definitions/WritableServiceSettings"
                }
            ]
        },
        "BlobServiceSettings": {
            "description": "Blob service settings.",
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/BlobServiceWritableSettings"
                }
            ]
        },
        "BlobServiceProperties": {
            "description": "Blob service properties.",
            "type": "object",
            "properties": {
                "settings": {
                    "x-ms-client-flatten": true,
                    "$ref": "#/definitions/BlobServiceSettings",
                    "description": "Blob service settings."
                }
            },
            "allOf": [
                {
                    "$ref": "storage.json#/definitions/Service"
                }
            ]
        },
        "BlobService": {
            "description": "TODO",
            "type": "object",
            "properties": {
                "properties": {
                    "description": "Blob service properties.",
                    "x-ms-client-flatten": true,
                    "$ref": "#/definitions/BlobServiceProperties"
                }
            },
            "allOf": [
                {
                    "$ref": "storage.json#/definitions/Resource"
                }
            ]
        }
    },
    "parameters": {},
    "securityDefinitions": {
        "azure_auth": {
            "type": "oauth2",
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "flow": "implicit",
            "description": "Azure Active Directory OAuth2 Flow",
            "scopes": {
                "user_impersonation": "impersonate your user account"
            }
        }
    },
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ]
}