{
    "swagger": "2.0",
    "info": {
        "version": "2015-12-01-preview",
        "title": "StorageManagementClient",
        "description": "The Admin Storage Management Client."
    },
    "host": "adminmanagement.local.azurestack.external",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Storage.Admin/farms/{farmId}/shares": {
            "get": {
                "x-ms-examples": {
                    "Returns a list of storage shares.": {
                        "$ref": "./Examples/Shares/List.json"
                    }
                },
                "tags": [
                    "Shares"
                ],
                "description": "Returns a list of storage shares.",
                "operationId": "Shares_List",
                "parameters": [
                    {
                        "$ref": "storage.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "storage.json#/parameters/ResourceGroupNameParameter"
                    },
                    {
                        "$ref": "storage.json#/parameters/FarmIdParameter"
                    },
                    {
                        "$ref": "storage.json#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ShareList"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Storage.Admin/farms/{farmId}/shares/{shareName}/metrics": {
            "get": {
                "x-ms-examples": {
                    "Returns a list of metrics for a storage share.": {
                        "$ref": "./Examples/Shares/ListMetrics.json"
                    }
                },
                "tags": [
                    "Shares"
                ],
                "description": "Returns a list of metrics for a storage share.",
                "operationId": "Shares_ListMetrics",
                "parameters": [
                    {
                        "$ref": "storage.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "storage.json#/parameters/ResourceGroupNameParameter"
                    },
                    {
                        "$ref": "storage.json#/parameters/FarmIdParameter"
                    },
                    {
                        "$ref": "storage.json#/parameters/ShareNameParameter"
                    },
                    {
                        "$ref": "storage.json#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "storage.json#/definitions/MetricList"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Storage.Admin/farms/{farmId}/shares/{shareName}/metricdefinitions": {
            "get": {
                "x-ms-examples": {
                    "Returns a list of metric definitions for a storage share.": {
                        "$ref": "./Examples/Shares/ListMetricDefinitions.json"
                    }
                },
                "tags": [
                    "Shares"
                ],
                "description": "Returns a list of metric definitions for a storage share.",
                "operationId": "Shares_ListMetricDefinitions",
                "parameters": [
                    {
                        "$ref": "storage.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "storage.json#/parameters/ResourceGroupNameParameter"
                    },
                    {
                        "$ref": "storage.json#/parameters/FarmIdParameter"
                    },
                    {
                        "$ref": "storage.json#/parameters/ShareNameParameter"
                    },
                    {
                        "$ref": "storage.json#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "storage.json#/definitions/MetricDefinitionList"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Storage.Admin/farms/{farmId}/shares/{shareName}": {
            "get": {
                "x-ms-examples": {
                    "Returns a storage share.": {
                        "$ref": "./Examples/Shares/Get.json"
                    }
                },
                "tags": [
                    "Shares"
                ],
                "description": "Returns a storage share.",
                "operationId": "Shares_Get",
                "parameters": [
                    {
                        "$ref": "storage.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "storage.json#/parameters/ResourceGroupNameParameter"
                    },
                    {
                        "$ref": "storage.json#/parameters/FarmIdParameter"
                    },
                    {
                        "$ref": "storage.json#/parameters/ShareNameParameter"
                    },
                    {
                        "$ref": "storage.json#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Share"
                        }
                    },
                    "404": {
                        "description": "NOT FOUND"
                    }
                }
            }
        }
    },
    "definitions": {
        "Share": {
            "description": "TODO",
            "type": "object",
            "properties": {
                "properties": {
                    "description": "Storage share properties.",
                    "x-ms-client-flatten": true,
                    "$ref": "#/definitions/ShareProperties"
                }
            },
            "allOf": [
                {
                    "$ref": "storage.json#/definitions/Resource"
                }
            ]
        },
        "ShareList": {
            "description": "List of shares.",
            "type": "array",
            "items": {
                "$ref": "#/definitions/Share"
            }
        },
        "ShareProperties": {
            "description": "Storage share properties.",
            "type": "object",
            "properties": {
                "shareName": {
                    "description": "The name of the storage share.",
                    "type": "string"
                },
                "uncPath": {
                    "description": "The UNC path to the storage share.",
                    "type": "string"
                },
                "totalCapacity": {
                    "description": "The total capacity of the storage share in bytes.",
                    "type": "integer",
                    "format": "int64"
                },
                "usedCapacity": {
                    "description": "The used capacity of the storage share in bytes.",
                    "type": "integer",
                    "format": "int64"
                },
                "freeCapacity": {
                    "description": "The free space of the storage share in bytes.",
                    "type": "integer",
                    "format": "int64"
                },
                "healthStatus": {
                    "description": "TODO",
                    "$ref": "storage.json#/definitions/HealthStatus"
                }
            }
        }
    },
    "parameters": {},
    "securityDefinitions": {
        "azure_auth": {
            "type": "oauth2",
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "flow": "implicit",
            "description": "Azure Active Directory OAuth2 Flow",
            "scopes": {
                "user_impersonation": "impersonate your user account"
            }
        }
    },
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ]
}