{
    "swagger": "2.0",
    "info": {
        "description": "Storage account operation endpoints and objects.",
        "version": "2015-12-01-preview"
    },
    "host": "adminmanagement.local.azurestack.external",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/subscriptions/{subscriptionId}/providers/Microsoft.Storage.Admin/subscriptions/{tenantSubscriptionId}/providers/Microsoft.Storage/SynchronizeResources": {
            "post": {
                "tags": [
                    "StorageAccounts"
                ],
                "operationId": "StorageAccounts_SynchronizeAll",
                "description": "TODO",
                "parameters": [
                    {
                        "$ref": "adminStorage.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "adminStorage.json#/parameters/TenantIdParameter"
                    },
                    {
                        "$ref": "adminStorage.json#/parameters/FarmIdParameter"
                    },
                    {
                        "$ref": "#/parameters/AccountIdParameter"
                    },
                    {
                        "$ref": "adminStorage.json#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "TODO",
                        "schema": {
                            "$ref": "#/definitions/StorageAccountSyncResult"
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.Resources.Admin/subscriptions/{tenantSubscriptionId}/resourceGroups/{resourceGroupName}/SynchronizeResources": {
            "post": {
                "tags": [
                    "StorageAccounts"
                ],
                "operationId": "StorageAccounts_Synchronize",
                "description": "TODO",
                "parameters": [
                    {
                        "$ref": "adminStorage.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "adminStorage.json#/parameters/TenantSubscriptionIdParameter"
                    },
                    {
                        "$ref": "adminStorage.json#/parameters/ResourceGroupNameParameter"
                    },
                    {
                        "$ref": "adminStorage.json#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "TODO",
                        "schema": {
                            "$ref": "#/definitions/StorageAccountSyncResult"
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Storage.Admin/farms/{farmId}/storageaccounts": {
            "get": {
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                },
                "tags": [
                    "StorageAccounts"
                ],
                "operationId": "StorageAccounts_List",
                "description": "TODO",
                "parameters": [
                    {
                        "$ref": "adminStorage.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "adminStorage.json#/parameters/ResourceGroupNameParameter"
                    },
                    {
                        "$ref": "adminStorage.json#/parameters/FarmIdParameter"
                    },
                    {
                        "$ref": "adminStorage.json#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "adminStorage.json#/parameters/FilterParameter"
                    },
                    {
                        "$ref": "adminStorage.json#/parameters/SummaryParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "TODO",
                        "schema": {
                            "$ref": "#/definitions/StorageAccountList"
                        }
                    }
                },
                "x-ms-odata": "#/definitions/StorageAccount"
            }
        },
        "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Storage.Admin/farms/{farmId}/storageaccounts/{accountId}": {
            "get": {
                "tags": [
                    "StorageAccounts"
                ],
                "operationId": "StorageAccounts_Get",
                "description": "Get a specific storage account",
                "parameters": [
                    {
                        "$ref": "adminStorage.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "adminStorage.json#/parameters/ResourceGroupNameParameter"
                    },
                    {
                        "$ref": "adminStorage.json#/parameters/FarmIdParameter"
                    },
                    {
                        "$ref": "#/parameters/AccountIdParameter"
                    },
                    {
                        "$ref": "adminStorage.json#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK -- Returns the storage account",
                        "schema": {
                            "$ref": "#/definitions/StorageAccount"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "StorageAccounts"
                ],
                "operationId": "StorageAccounts_Undelete",
                "description": "TODO",
                "parameters": [
                    {
                        "$ref": "adminStorage.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "adminStorage.json#/parameters/ResourceGroupNameParameter"
                    },
                    {
                        "$ref": "adminStorage.json#/parameters/FarmIdParameter"
                    },
                    {
                        "$ref": "#/parameters/AccountIdParameter"
                    },
                    {
                        "$ref": "adminStorage.json#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK -- Undelete either has been performed or account was not deleted."
                    }
                }
            }
        }
    },
    "definitions": {
        "StorageAccountModel": {
            "properties": {
                "tenantViewId": {
                    "type": "string",
                    "readOnly": true,
                    "description": "TODO"
                },
                "accountType": {
                    "name": "StorageAccountType",
                    "readOnly": true,
                    "description": "Current operation being performed on Storage Account",
                    "type": "string",
                    "enum": [
                        "Standard_LRS",
                        "Standard_GRS",
                        "Standard_ZRS",
                        "Standard_RAGRS",
                        "Premium_LRS"
                    ],
                    "x-ms-enum": {
                        "name": "StorageAccountType",
                        "modelAsString": true
                    }
                },
                "provisioningState": {
                    "name": "StorageAccountState",
                    "readOnly": true,
                    "description": "Current state of storage account",
                    "type": "string",
                    "enum": [
                        "PreCreate",
                        "Created",
                        "Suspended"
                    ],
                    "x-ms-enum": {
                        "name": "StorageAccountState",
                        "modelAsString": true
                    }
                },
                "primaryEndpoints": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "readOnly": true,
                    "description": "Gets the URLs that are used to perform a retrieval of a public blob, queue, or table object. Note that Standard_ZRS and Premium_LRS accounts only return the blob endpoint."
                },
                "creationTime": {
                    "readOnly": true,
                    "type": "string",
                    "format": "date-time",
                    "description": "Gets the creation date and time of the storage account in UTC."
                },
                "alternateName": {
                    "type": "string",
                    "description": "Used during undelete operation"
                },
                "primaryLocation": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Gets the location of the primary data center for the storage account."
                },
                "statusOfPrimary": {
                    "name": "LocationStatus",
                    "readOnly": true,
                    "type": "string",
                    "description": "Gets the status indicating whether the primary location of the storage account is available or unavailable.",
                    "enum": [
                        "available",
                        "unavailable"
                    ],
                    "x-ms-enum": {
                        "name": "LocationStatus",
                        "modelAsString": true
                    }
                },
                "tenantSubscriptionId": {
                    "readOnly": true,
                    "type": "string",
                    "description": "TODO"
                },
                "tenantStorageAccountName": {
                    "type": "string",
                    "description": "TODO"
                },
                "tenantResourceGroupName": {
                    "type": "string",
                    "description": "TODO"
                },
                "currentOperation": {
                    "name": "StorageAccountOperation",
                    "readOnly": true,
                    "description": "Current operation being performed on Storage Account",
                    "type": "string",
                    "enum": [
                        "None",
                        "Create",
                        "Update",
                        "Suspend",
                        "Delete",
                        "Undelete"
                    ],
                    "x-ms-enum": {
                        "name": "StorageAccountOperation",
                        "modelAsString": true
                    }
                },
                "customDomain": {
                    "type": "string",
                    "readOnly": true,
                    "description": "Gets the custom domain the user assigned to this storage account."
                },
                "acquisitionOperationCount": {
                    "type": "integer",
                    "format": "int32",
                    "description": "TODO"
                },
                "deletedTime": {
                    "name": "dateTime",
                    "description": "TODO",
                    "type": "string",
                    "format": "date-time"
                },
                "accountStatus": {
                    "name": "StorageAccountStatus",
                    "description": "TODO",
                    "type": "string",
                    "enum": [
                        "Active",
                        "Deleted",
                        "OutOfRetentionPeriod",
                        "Recycled"
                    ],
                    "x-ms-enum": {
                        "name": "StorageAccountStatus",
                        "modelAsString": true
                    }
                },
                "recoveredTime": {
                    "name": "dateTime",
                    "description": "TODO",
                    "type": "string",
                    "format": "date-time"
                },
                "recycledTime": {
                    "name": "dateTime",
                    "description": "TODO",
                    "type": "string",
                    "format": "date-time"
                },
                "permissions": {
                    "name": "WacAccountPermissions",
                    "readOnly": true,
                    "description": "Current operation being performed on Storage Account",
                    "type": "string",
                    "enum": [
                        "Empty",
                        "None",
                        "Read",
                        "Delete",
                        "Write",
                        "Full"
                    ],
                    "x-ms-enum": {
                        "name": "WacAccountPermissions",
                        "modelAsString": true
                    }
                },
                "accountId": {
                    "type": "string",
                    "readOnly": true,
                    "description": "TODO"
                },
                "wacInternalState": {
                    "name": "WacAccountStates",
                    "readOnly": true,
                    "description": "Current operation being performed on Storage Account",
                    "type": "string",
                    "enum": [
                        "None",
                        "Active",
                        "Deleted",
                        "AboveQuota",
                        "Suspended",
                        "All"
                    ],
                    "x-ms-enum": {
                        "name": "WacAccountStates",
                        "modelAsString": true
                    }
                },
                "resourceAdminApiVersion": {
                    "description": "TODO",
                    "type": "string",
                    "readOnly": true
                }
            },
            "description": "TODO"
        },
        "StorageAccount": {
            "description": "Properties of the storage account.",
            "properties": {
                "properties": {
                    "x-ms-client-flatten": true,
                    "$ref": "#/definitions/StorageAccountModel"
                }
            },
            "allOf": [
                {
                    "$ref": "adminStorage.json#/definitions/Resource"
                }
            ]
        },
        "StorageAccountSyncResult": {
            "properties": {
                "CorrelationId": {
                    "type": "string",
                    "readOnly": true,
                    "description": "TODO"
                },
                "FrontdoorLocation": {
                    "type": "string",
                    "readOnly": true,
                    "description": "TODO"
                },
                "TimeStamp": {
                    "type": "string",
                    "readOnly": true,
                    "description": "TODO"
                },
                "Message": {
                    "type": "string",
                    "readOnly": true,
                    "description": "TODO"
                }
            }
        },
        "StorageAccountList": {
            "properties": {
                "value": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/StorageAccount"
                    }
                },
                "nextLink": {
                    "type": "string"
                }
            },
            "description": "List of storage accounts supported by the Storage resource provider."
        }
    },
    "parameters": {
        "AccountIdParameter": {
            "name": "accountId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the storage account.",
            "x-ms-parameter-location": "method"
        },
        "TenantIdParameter": {
            "name": "tenantId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The tenant id.",
            "x-ms-parameter-location": "method"
        },
        "TenantSubscriptionIdParameter": {
            "name": "tenantSubscriptionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The tenant subscription id.",
            "x-ms-parameter-location": "method"
        },
        "SummaryParameter": {
            "name": "summary",
            "in": "query",
            "required": true,
            "type": "boolean",
            "description": "TODO",
            "x-ms-parameter-location": "method"
        },
        "ActionParameter": {
            "name": "action",
            "type": "string",
            "in": "query",
            "default": "undelete",
            "x-ms-parameter-location": "method"
        }
    }
}