{
    "swagger": "2.0",
    "info": {
        "description": "Connection Sku admin operation endpoints and objects.",
        "title": "NetworkAdminManagementClient",
        "version": "2015-06-15"
    },
    "host": "adminmanagement.local.azurestack.external",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/subscriptions/{subscriptionId}/providers/Microsoft.Network.Admin/locations/{location}/connectionSkus": {
            "get": {
                "x-ms-examples": {
                    "Get the list of all connection Skus": {
                        "$ref": "./examples/ConnectionSkus/ConnectionSkusList.json"
                    }
                },
                "tags": [
                    "ConnectionSkus"
                ],
                "description": "Get a list of connection skus.",
                "operationId": "ConnectionSkus_List",
                "parameters": [
                    {
                        "$ref": "Network.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "Network.json#/parameters/LocationParameter"
                    },
                    {
                        "$ref": "Network.json#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "Network.json#/parameters/FilterParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/VirtualNetworkGatewayConnectionSkuList"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": null
                },
                "x-ms-odata": "#/definitions/VirtualNetworkGatewayConnectionSku"
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.Network.Admin/locations/{location}/connectionSkus/{resourceName}": {
            "get": {
                "x-ms-examples": {
                    "Get a specific connection Sku by name": {
                        "$ref": "./examples/ConnectionSkus/ConnectionSkusGet.json"
                    }
                },
                "tags": [
                    "ConnectionSkus"
                ],
                "description": "Get connection sku by name.",
                "operationId": "ConnectionSkus_Get",
                "parameters": [
                    {
                        "$ref": "Network.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "Network.json#/parameters/LocationParameter"
                    },
                    {
                        "$ref": "Network.json#/parameters/ResourceNameParameter"
                    },
                    {
                        "$ref": "Network.json#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/VirtualNetworkGatewayConnectionSku"
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            },
            "put": {
                "x-ms-examples": {
                    "Create or update a given virtual network gateway connection sku.": {
                        "$ref": "./examples/ConnectionSkus/ConnectionSkusCreateOrUpdate.json"
                    }
                },
                "tags": [
                    "ConnectionSkus"
                ],
                "description": "Create or update a given virtual network gateway connection sku.",
                "operationId": "ConnectionSkus_CreateOrUpdate",
                "parameters": [
                    {
                        "$ref": "Network.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "Network.json#/parameters/LocationParameter"
                    },
                    {
                        "$ref": "Network.json#/parameters/ResourceNameParameter"
                    },
                    {
                        "$ref": "#/parameters/VirtualNetworkGatewayConnectionSkuParameter"
                    },
                    {
                        "$ref": "Network.json#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/VirtualNetworkGatewayConnectionSku"
                        }
                    },
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/VirtualNetworkGatewayConnectionSku"
                        }
                    }
                }
            },
            "delete": {
                "x-ms-examples": {
                    "Delete a virtual network gateway connection sku by name.": {
                        "$ref": "./examples/ConnectionSkus/ConnectionSkusDelete.json"
                    }
                },
                "tags": [
                    "ConnectionSkus"
                ],
                "description": "Delete a virtual network gateway connection sku by name.",
                "operationId": "ConnectionSkus_Delete",
                "parameters": [
                    {
                        "$ref": "Network.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "Network.json#/parameters/LocationParameter"
                    },
                    {
                        "$ref": "Network.json#/parameters/ResourceNameParameter"
                    },
                    {
                        "$ref": "Network.json#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "202": {
                        "description": "Accepted"
                    },
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        }
    },
    "definitions": {
        "VirtualNetworkGatewayConnectionSku": {
            "description": "Representation of a virtual network gateway connection sku.",
            "type": "object",
            "properties": {
                "properties": {
                    "description": "Properties of a virtual network gateway connection sku.",
                    "x-ms-client-flatten": true,
                    "$ref": "#/definitions/VirtualNetworkGatewayConnectionSkuProperties"
                }
            },
            "allOf": [
                {
                    "$ref": "Network.json#/definitions/Resource"
                }
            ]
        },
        "VirtualNetworkGatewayConnectionSkuProperties": {
            "description": "The virtual network gateway connection sku properties.",
            "type": "object",
            "properties": {
                "metadata": {
                    "description": "Metadata related to this backend address pool.",
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                },
                "provisioningState": {
                    "description": "The provisioning state.",
                    "enum": [
                        "Succeeded",
                        "Updating",
                        "Deleting",
                        "Failed"
                    ],
                    "type": "string",
                    "x-ms-enum": {
                        "modelAsString": true,
                        "name": "ProvisioningStateType"
                    }
                },
                "resourceType": {
                    "description": "The resource type that the SKU applies to.",
                    "type": "string"
                },
                "capabilities": {
                    "description": "Key value pair of the capabilities of the connection sku.",
                    "type": "array",
                    "items": {
                        "type": "object",
                        "$ref": "#/definitions/SkuCapabilityProperties"
                    }
                },
                "isDefault": {
                    "default": "Value indicating whether this SKU is the default SKU.",
                    "type": "boolean"
                }
            }
        },
        "SkuCapabilityProperties": {
            "description": "Connection Sku capability properties.",
            "type": "object",
            "properties": {
                "name": {
                    "description": "Name of this capability.",
                    "type": "string"
                },
                "value": {
                    "description": "Value of this capability.",
                    "type": "string"
                }
            }
        },"VirtualNetworkGatewayConnectionSkuList": {
            "description": "Pageable list of virtual network gateway connection skus.",
            "type": "object",
            "properties": {
                "value": {
                    "description": "List of virtual network gateway connection skus for this page.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/VirtualNetworkGatewayConnectionSku"
                    }
                },
                "nextLink": {
                    "description": "URI to the next page.",
                    "type": "string"
                }
            }
        }
    },
    "parameters": {
        "VirtualNetworkGatewayConnectionSkuParameter": {
            "name": "virtualNetworkGatewayConnectionSku",
            "description": "Virtual Network Gateway Connection Sku.",
            "in": "body",
            "required": true,
            "schema": {
                "$ref": "#/definitions/VirtualNetworkGatewayConnectionSku"
            },
            "x-ms-parameter-location": "method"
        }
    },
    "securityDefinitions": {
        "azure_auth": {
            "type": "oauth2",
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "flow": "implicit",
            "description": "Azure Active Directory OAuth2 Flow",
            "scopes": {
                "user_impersonation": "impersonate your user account"
            }
        }
    },
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ]
}